<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacky.support">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".gallery.PhotoBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PictureBrowserFullscreenTheme" />

    </application>

</manifest>